@model FairManagement.Areas.Admin.Models.markSchemeVM

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>markSchemeVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
            <div class="form-group">
                <label asp-for="ProjectCategoryId" class="control-label"></label>
                <select asp-for="ProjectCategoryId" asp-items=" ViewBag.ProjectT" class="form-control" >
                    <option>
                        Selete...
                    </option>
                </select>
                <span asp-validation-for="ProjectCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mark_Title" class="control-label"></label>
                <input asp-for="Mark_Title" class="form-control" />
                <span asp-validation-for="Mark_Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SetMark" class="control-label"></label>
                <input asp-for="SetMark" class="form-control" />
                <span asp-validation-for="SetMark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

